$page-default-color:#fff;
$primary:#85CEE4;
$font-color:#ffff;
$body-color:#85CEE4;
$grey:#343434;
$border:8px;
$hover-btn-primary:rgba(255, 255, 255, 0.15);
$dark-gray: #1C1C1C;
$filter-corver:brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(6%) hue-rotate(153deg) brightness(96%) contrast(104%);
// header
$header-background: rgba(255, 255, 255, 0.1);
$header-background-movie:rgb(133, 206, 228, 0.5);
$header-background-btn-mobile:#000;
$header-phone:#000;
$header-background-burger:#000;
$header-color-filter-icon-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);
$header-menu-background-burger:#000;
$header-background-btn:#fff;
$header-background-btn-border:#fff;
$header-logo:url('/image/logo-dark.svg');
$header-logo-mobile:url('/image/logo-white.svg');

// footer
$footer-color-filter-icon-filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);
$footer-logo:url('/image/logo-dark.svg');
$footer-logo-mobile:url('/image/logo-white.svg');
$footer-nav-link:#000;
$footer-nav-link-hover:#fff;
$footer-color-arrow: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);

// contact form
$contact-form-background:rgba(0, 0, 0, 0.25);
$contact-form-title: #000;
$contact-form-background-input: rgba(0, 0, 0, 0.25);
$contact-form-title-mobile:#fff;
$contact-filter-arrow:  brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);;
$contact-label:#fff;


$contact-form-phone-background: url("/image/cooperation-form.svg") no-repeat;
$contact-form-phone-title-color: #fff;
$contact-form-phone-input-color: #000;
$contact-form-phone-btn-color: #000;
$contact-form-phone-btn-background: #fff;

@import "../style.scss";
@import '../component/secondary-real-estate-search/homepage/homepage.scss';
@import '../component/secondary-real-estate-search/suggest/suggest.scss';
@import '../component/secondary-real-estate-search/where-work/where-work.scss';
@import '../component/secondary-real-estate-search/steps/steps.scss';
@import '../component/secondary-real-estate-search/contact-form/contact-form.scss';


.title-block{
    padding-top: 90px;
    font-weight: 300;
    @include respond-to($tablet){
      margin-top: 100px;
  
    }
      @include respond-to($mobile){
        position: relative;
        padding-top: 45px;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 32px;
        &::before, &::after{
          content: '';
          filter: $filter-corver;
          background: url('/image/left-corner.svg') no-repeat;
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: -10px;
        }
        &::after{
          background: url('/image/right-corner.svg')no-repeat;
          bottom: 0px;
          filter: $filter-corver;
          width: 18px;
          height: 18px;
          right: -10px;
          left: auto;
        }
      }
      @include respond-to($smallMobile){
          font-size:24px;
      }
  }