$page-default-color:#fff;
$primary:#85CEE4;
$font-color:#ffff;
$grey:#343434;
$border:8px;
$hover-btn-primary:rgba(255, 255, 255, 0.15);
$dark-gray: #1C1C1C;
$filter-corver: brightness(0) saturate(100%) invert(83%) sepia(9%) saturate(1649%) hue-rotate(157deg) brightness(93%) contrast(91%);
// header
$header-background: rgba(255, 255, 255, 0.1);
$header-background-movie:rgba(255, 255, 255, 0.2);
$header-background-btn-mobile:#000;
$header-phone:#000;
$header-background-burger:#000;
$header-color-filter-icon-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);
$header-menu-background-burger:#000;
$header-logo:url('/image/logo-dark.svg');
$header-logo-mobile:url('/image/logo-white.svg');

// footer
$footer-color-filter-icon-filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);
$footer-logo:url('/image/logo-dark.svg');
$footer-nav-link:#000;
$footer-nav-link-hover:#fff;
$footer-color-arrow: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);

@import '../globals.scss';
@import '../component/header/header.scss';
@import '../component/footer/footer.scss';
@import '../component/dialog-with-form/dialog.scss';
@import '../component/secondary-homepage/homepage.scss';
@import '../component/secondary-story/story.scss';


:root{
  --swiper-theme-color:#85CEE4;
  --swiper-pagination-bullet-horizontal-gap:8px;
}

body{
  background: $primary;
}

.title-block{
    padding-top: 90px;
    @include respond-to($tablet){
      margin-top: 100px;
  
    }
      @include respond-to($mobile){
        position: relative;
        padding-top: 45px;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 32px;
        &::before, &::after{
          content: '';
          filter: $filter-corver;
          background: url('/image/left-corner.svg') no-repeat;
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: -10px;
        }
        &::after{
          background: url('/image/right-corner.svg')no-repeat;
          bottom: 0px;
          filter: $filter-corver;
          width: 18px;
          height: 18px;
          right: -10px;
          left: auto;
        }
      }
      @include respond-to($smallMobile){
          font-size:24px;
      }
  }