$page-default-color:#85CEE4;
$primary:#85CEE4;
$font-color:#ffff;
$grey:#343434;
$border:8px;
$hover-btn-primary:rgba(255, 255, 255, 0.15);
$dark-gray: #1C1C1C;
// header
$header-background: rgba(255, 255, 255, 0.1);
$header-background-movie:rgba(255, 255, 255, 0.2);
$header-background-btn-mobile:#fff;
$header-phone:#000;
$header-background-burger:#000;
$header-color-filter-icon-filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7486%) hue-rotate(6deg) brightness(91%) contrast(104%) ;


// footer

@import '../component/header/header.scss';
@import '../component/footer/footer.scss';

body{
    background-color:$primary;
}