
@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Medium.eot');
    src: local('PF Bague Sans Pro Medium'), local('/fonts/PFBagueSansPro-Medium'),
        url('/fonts/PFBagueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Medium.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Medium.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-UltraBlack.eot');
    src: local('PF Bague Sans Pro Ultra Black'), local('/fonts/PFBagueSansPro-UltraBlack'),
        url('/fonts/PFBagueSansPro-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-UltraBlack.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-UltraBlack.woff') format('woff'),
        url('/fonts/PFBagueSansPro-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-ExtraThin.eot');
    src: local('PF Bague Sans Pro Extra Thin'), local('/fonts/PFBagueSansPro-ExtraThin'),
        url('/fonts/PFBagueSansPro-ExtraThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-ExtraThin.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-ExtraThin.woff') format('woff'),
        url('/fonts/PFBagueSansPro-ExtraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Hairline.eot');
    src: local('PF Bague Sans Pro Hairline'), local('/fonts/PFBagueSansPro-Hairline'),
        url('/fonts/PFBagueSansPro-Hairline.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Hairline.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Hairline.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Thin.eot');
    src: local('PF Bague Sans Pro Thin'), local('/fonts/PFBagueSansPro-Thin'),
        url('/fonts/PFBagueSansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Thin.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Thin.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Light.eot');
    src: local('PF Bague Sans Pro Light'), local('/fonts/PFBagueSansPro-Light'),
        url('/fonts/PFBagueSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Light.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Light.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro.eot');
    src: local('PF Bague Sans Pro'), local('/fonts/PFBagueSansPro'),
        url('/fonts/PFBagueSansPro.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro.woff') format('woff'),
        url('/fonts/PFBagueSansPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Black.eot');
    src: local('PF Bague Sans Pro Black'), local('/fonts/PFBagueSansPro-Black'),
        url('/fonts/PFBagueSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Black.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Black.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('/fonts/PFBagueSansPro-Bold.eot');
    src: local('PF Bague Sans Pro Bold'), local('/fonts/PFBagueSansPro-Bold'),
        url('/fonts/PFBagueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PFBagueSansPro-Bold.woff2') format('woff2'),
        url('/fonts/PFBagueSansPro-Bold.woff') format('woff'),
        url('/fonts/PFBagueSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }