@import './fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  scrollbar-color: #646464 #1C1C1C;
}


body {
  font-weight: 500 ;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "PF Bague Sans Pro";
  background: $body-color ;
  overflow-x:hidden;
}

h2{
  text-transform: uppercase ;
  font-size: 2rem ;
  font-weight: 100 ;
  margin-bottom: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main{
  overflow-x:clip;
}

.container{
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 16px;
}

a{
  cursor: pointer;
}

$pc: 1280px;
$tablet: 1024px;
$mobile: 768px;
$smallMobile: 640px;
$smallMobileSm: 450px;


@mixin respond-to($breakpoint) {
  @if $breakpoint == $smallMobile {
    @media (max-width: $smallMobile) { @content; }
  } @else if $breakpoint == $mobile {
    @media (max-width: $mobile) { @content; }
  } @else if $breakpoint == $tablet {
    @media (max-width: $tablet) { @content; }
  } @else if $breakpoint == $pc {
    @media (max-width: $pc) { @content; }
  } @else if $breakpoint == $smallMobileSm {
    @media (max-width: $smallMobileSm) { @content; }
  }
}

// Миксин для адаптивного шрифта
@mixin fluid-font-size($min-font, $max-font, $min-width: 320px, $max-width: 1200px) {
  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc(
      #{$min-font} + (#{$max-font} - #{$min-font}) * 
      ((100vw - #{$min-width}) / (#{$max-width} - #{$min-width}))
    );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}


.arrow-horiz__animation {
  animation: arrow-slide-x 1.2s ease-in-out infinite;
  will-change: transform;
}

.arrow-vert__animation {
  animation: arrow-slide-y 1.2s ease-in-out infinite;
  will-change: transform;
}

@keyframes arrow-slide-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
}

@keyframes arrow-slide-y {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
