

.homepage-secondary{
    display: flex;
    background: $primary;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    @include respond-to($mobile){
    flex-direction: column;
    padding-bottom: 40px;
    }
    &__image{
        width: 100%;
    }
    &__btn{
        color: $page-default-color;
        background: #000;
        width: 100%;
        padding: 1rem;
        border-radius:$border;
        margin-top: 1rem;
    }
    &__content{
        h1{
            font-size: 3rem;
            line-height: 125%;
            @include respond-to($tablet){
                font-size: 2rem; 
            }
        }
        div{
            margin-top: 1rem;
            font-size: 20px;
            max-width: 450px;
            @include respond-to($tablet){
                font-size: 1rem; 
            }
        }
        button{
            padding: 25px 43px;
            border: 1px solid #000;
            border-radius: $border;
            margin-top: 20px;
            font-weight: 600;
            position:relative;
            @include respond-to($mobile){
                display: none;
            }
            &:hover{
            color: #fff;
            background: #000;
        }
            &::after{
                content:'';
                background: url('/image/homepage-arrow.svg') no-repeat;
                display: block;
                height: 120px;
                width: 8px;
                position: absolute;
                top: 74px;
                left: 50%;
            }
        }
    }
}



@keyframes jump {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}