@import '../../globals.scss';

.footer{
    color: $font-color;
    margin-top: 90px !important;
    border-top: 1px solid $page-default-color;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include respond-to($mobile){
    gap: 16px;
    }
    &__logo{
        background: $footer-logo no-repeat;
        width: 158px;
        height: 62px;
        order: 1;
        @include respond-to($mobile){
        background: $footer-logo-mobile no-repeat;
        }
        @include respond-to($smallMobile){
        width: 90px;
        background-size:80px 40px ;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        order: 2;
        color:$footer-nav-link ;
        @include respond-to($mobile){
            order: 3;
            width: 100%;
        }
        &-product{
            li{
                margin: 12px 0px;  
                &:hover{
                    color: $footer-nav-link-hover;
                }
            }
        }
        &-contact{
            li{
                font-size: 12px;
                margin: 16px 0px;  
                &:hover{
                    color: $footer-nav-link-hover;
                }
            }
        }
    }
    &__contact{
        display: flex;
        gap: 20px;
        flex-direction: column;
        span{
            font-size: 24px;
            font-weight: 500;
            color: $page-default-color;
        }
        order: 3;
        @include respond-to($mobile){
            order:2;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__box-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        filter:$footer-color-filter-icon-filter;
       
    }
    &__arrow{
        cursor:pointer;
        order: 4;
        filter: $footer-color-arrow;
        @include respond-to($mobile){
            display: none;
        }
    }
}

