@import './css/fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  scrollbar-color: #646464 #1C1C1C;
}


body {
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
}

h2{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main{
  overflow-x:clip;
}

.container{
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 20px;
}


$pc: 1280px;
$tablet: 1024px;
$mobile: 768px;
$smallMobile: 640px;


@mixin respond-to($breakpoint) {
  @if $breakpoint == $smallMobile {
    @media (max-width: $smallMobile) { @content; }
  } @else if $breakpoint == $mobile {
    @media (max-width: $mobile) { @content; }
  } @else if $breakpoint == $tablet {
    @media (max-width: $tablet) { @content; }
  } @else if $breakpoint == $pc {
    @media (max-width: $pc) { @content; }
  }
}

.title-block{
  margin-top: 180px;
  @include respond-to($tablet){
    margin-top: 100px;

  }
    @include respond-to($mobile){
      position: relative;
      display: inline-block;
      margin-top: 60px;
      margin-bottom: 32px;
      &::before, &::after{
        content: '';
        background: url('/image/left-corner.svg') no-repeat;
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -10px;
      }
      &::after{
        background: url('/image/right-corner.svg')no-repeat;
        bottom: 0px;
        width: 18px;
        height: 18px;
        right: -10px;
        left: auto;
      }
    }
}