$page-default-color:#000;
$primary:#85CEE4;
$body-color:#fff;
$font-color:#ffff;
$grey:#343434;
$border:8px;
$hover-btn-primary:rgba(255, 255, 255, 0.15);
$dark-gray: #1C1C1C;
$filter-corver:brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(6%) hue-rotate(153deg) brightness(96%) contrast(104%);
// header
$header-background: rgba(0, 0, 0, 0.60);
$header-background-movie:rgba(0, 0, 0, 0.90);
$header-background-btn-mobile:$primary;
$header-phone:#fff;
$header-background-burger:#fff;
$header-color-filter-icon-filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
$header-menu-background-burger:#000;
$header-background-btn:$primary;
$header-background-btn-border:$primary;
$header-logo:url('/image/logo-primary.svg');
$header-logo-mobile:url('/image/logomobile-primary.svg');

// footer
$footer-color-filter-icon-filter:brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
$footer-logo:url('/image/logo-primary-dark.svg');
$footer-logo-mobile:url('/image/logo-primary-dark.svg');
$footer-nav-link:#000;
$footer-nav-link-hover:$primary;
$footer-color-arrow: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);

// contact form
$contact-form-background:rgba(0, 0, 0, 0.25);
$contact-form-title: #000;
$contact-form-background-input: rgba(0, 0, 0, 0.25);
$contact-form-title-mobile:#000;
$contact-filter-arrow:  brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(107%) contrast(102%);
$contact-label:#fff;


$contact-form-phone-background: url("/image/countryside-form.svg") no-repeat;
$contact-form-phone-title-color: #000;
$contact-form-phone-input-color: #85CEE4;
$contact-form-phone-btn-color: #85CEE4;
$contact-form-phone-btn-background: #000;

@import "../style.scss";
@import '../component/countryside/homepage/homepage.scss';
@import '../component/countryside/chips/chips.scss';
@import '../component/countryside/contact-form-countryside/contact-form-countryside.scss';
@import '../component/countryside/photo-gallery/photo-gallery.scss';


.title-block{
    padding-top: 90px;
    font-weight: 300;
    @include respond-to($tablet){
      margin-top: 100px;
  
    }
      @include respond-to($mobile){
        position: relative;
        padding-top: 45px;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 32px;
        &::before, &::after{
          content: '';
          filter: $filter-corver;
          background: url('/image/left-corner.svg') no-repeat;
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: -10px;
        }
        &::after{
          background: url('/image/right-corner.svg')no-repeat;
          bottom: 0px;
          filter: $filter-corver;
          width: 18px;
          height: 18px;
          right: -10px;
          left: auto;
        }
      }
      @include respond-to($smallMobile){
          font-size:24px;
      }
  }